@model Product

<p><strong>Ürün Adı:</strong>@Model.Name</p>
<p><strong>Ürün Stoğu:</strong>@Model.Stock</p>
<p><strong>Ürün Fiyatı</strong>@Model.Price</p>
<a href="~product/index">Liste sayfasına geri dön</a>

